@model List<TwitterClone.Models.User>


@{
    ViewData["Title"] = "Follow Suggestions";
}

@if (Model != null)
{
    @foreach (var user in Model.OrderBy(x => Guid.NewGuid()).Take(3).ToList())
    {
        <li class="mb-2 d-flex align-items-center p-2 ps-0">
    <div class="fs-6"> <img src="@user.Avatar" alt="avatar" width="32" height="32" class="rounded-circle"></div>
    <div class="names fs-6 ps-2">
        <div class="fw-bold">@user.NickName</div>
        <div>&#64;@user.UserName</div>
    </div>
    <div class="ms-auto">
        <button class="btn btn-dark btn-sm rounded rounded-pill fw-bold">Follow</button>
    </div>
</li>
    }
}
else
{
    <li>No users available.</li>
}
