<li class="mb-2 d-flex align-items-center p-2 ps-0">

    <div class="fs-6">
        <div class="fw-bold ">tagname</div>
        <div class="">Posts</div>
    </div>

    @* <div class="ms-auto"></div>
    <button class="btn btn-dark btn-sm rounded rounded-pill fw-bold">Follow</button>
    </div> *@
</li>
