@using TwitterClone.Models
@model List<User>

<div class="bg-light rounded p-2 px-3">
    <p class="fs-5 mb-4 fw-bold">Who to follow</p>
    <ul class="nav flex-column">
        @foreach (var user in Model)
        {
            <li class="mb-2 d-flex align-items-center p-2 ps-0">
                <div class="fs-6"> <img src="@user.Avatar" alt="avatar" width="32" height="32" class="rounded-circle"></div>
                <div class="names fs-6 ps-2">
                    <div class="fw-bold">@user.NickName</div>
                    <div>&#64;@user.UserName</div>
                </div>
                <div class="ms-auto">
                    <button class="btn btn-dark btn-sm rounded rounded-pill fw-bold">Follow</button>
                </div>
            </li>
        }
        <li class="mt-2">
            <button type="button" class="btn btn-link fs-6 no-underline ps-0">Show
                more</button>
        </li>
    </ul>
</div>
