@page
@model TwitterClone.Pages.UserPortal.AddEditTweet
@{
    ViewData["Title"] = "AddEditTweet";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEditMode)
            {
                <input type="hidden" asp-for="IsEditMode" />
                <input type="hidden" asp-for="TweetId" />
            }
            @if (Model.ReTweet!=null)
            {
                <input type="hidden" asp-for="ReTweetId"/>
            }
            <div class="form-group">
                <label asp-for="Body" class="control-label">What's new?</label>
                <input asp-for="Body" class="form-control" id="bodyValue" type="hidden"/>
            </div>
            <div class="text-center">
                <div class="border">
                    <div id="bodyEditor"></div>
                    <div>
                        @if (Model.ReTweet!=null){
                            @await Html.PartialAsync("_TweetCard", new {Tweet=Model.ReTweet,BodyContainerId=""})
                        }
                    </div>
                </div>
                
                <script>
                    ClassicEditor
                        .create( document.querySelector( '#bodyEditor' ) ,{
                            cloudServices: {
                                tokenUrl: '/api/CKEditor/GetCKEditorToken',
                                uploadUrl:'https://102094.cke-cs.com/easyimage/upload/'
                            }
                        })
                        .then(editor => {
                            editor.setData(`@Html.Raw(Model.Body)`);
                            editor.model.document.on('change:data', () => {
                                console.log(editor.getData())
                                document.getElementById('bodyValue').value = editor.getData();
                            });

                        })
                        .catch( error => {
                            console.error( error );
                        } );
                    var editor = CKEDITOR.instances['bodyEditor'];
                    editor.on('key', function (event) {
                        var selection = editor.getSelection();
                        var startElement = selection.getStartElement();
                        if (event.data.keyCode === CKEDITOR.CTRL + 51) {
                            var text = startElement.getText();
                            var match = text.match(/#(\w+)/);
                            if (match) {
                                var word = match[1];
                                var tagLink = '<a href="/search?q=' + word + '">#' + word + '</a>';
                                editor.document.$.execCommand('insertHTML', false, tagLink);
                            }
                        }
                    });

                </script>
            </div> 
            <div class="form-group">
                <input type="submit" value="Tweet" class="btn btn-primary" />
            </div>
        </form>
    </div>
    
</div>
<div>
    <a asp-page="MyTweets">Back to List</a>
</div>