@page
@model TwitterClone.Pages.UserPortal.MyTweets
@{
    ViewData["Title"] = "MyTweets";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (TempData["Message"] != null)
{
    <div id="flash-message" class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<h2>@ViewData["Title"]</h2>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div>
    <div class="row">
        <div class="col-2 rounded rounded-pill bg-primary mb-5">
            <div class="text-center">
                <a href="AddEditTweet" class="btn fs-5 text-white">
                    <strong>Tweet</strong>
                </a>
            </div>
        </div>
    </div>
    @foreach (var item in Model.Tweets) {
    
    @await Html.PartialAsync("_TweetCard", new {Tweet=item,BodyContainerId=""})
}

</div>



<!-- flash-message -->
@section Scripts {
    <script>
        var displayTime = 3000; 
        document.addEventListener("DOMContentLoaded", function () {
            var messageElement = document.getElementById("flash-message");
            if (messageElement) {
                setTimeout(function () {
                    messageElement.style.display = 'none';
                }, displayTime);
            }
        });
    </script>
}