@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;800&display=swap');


body {
  font-family: 'Libre Franklin' !important;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#signupLogo {
  font-size: 6rem;
}

@media (min-width: 992px) {
  #signupLogo {
    font-size: 30rem;
  }
}

.display-1,
.display-6 {
  font-weight: 700;
}

.brand-color {
  color: #1DA1F2;
}

.bg-brand-color {
  background-color: #1DA1F2;
}

.bg-brand-color:hover {
  background-color: #1485ca;
}

.border-tertiary-gray {
  border-color: silver;
}



/* remove the underline from the button link */
.btn-link,
.no-underline {
  text-decoration: none;
}

.no-underline .hashtag-link .nav-link {
  color: black;
}


.tweetCard:hover {
  background-color: rgb(242, 242, 242);
}

#acctMenu:hover {
  background-color: rgb(242, 242, 242);
}

#bannerImg {
  background-color: silver;
  height: 12rem;
}

.avatar {
  object-fit: cover;
}

#trendList:hover {
  background-color: rgb(242, 242, 242);
}