@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;800&display=swap');


body {
  font-family: 'Libre Franklin' !important;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#signupLogo {
  font-size: 6rem;
}

@media (min-width: 992px) {
  #signupLogo {
    font-size: 30rem;
  }
}

.display-1,
.display-6 {
  font-weight: 700;
}

.brand-color {
  color: #1DA1F2;
}

.bg-brand-color,
.bg-brand-msg {
  background-color: #1DA1F2;
}

.bg-brand-color:hover {
  background-color: #1485ca;
}

.border-tertiary-gray {
  border-color: silver;
}



/* remove the underline from the button link */
.btn-link,
.no-underline {
  text-decoration: none;
}

.no-underline .hashtag-link .nav-link {
  color: black;
}


.tweetCard:hover {
  background-color: rgb(242, 242, 242);
}

#acctMenu:hover,
#acctMenuSm:hover,
.msgRow:hover {
  background-color: rgb(242, 242, 242);
}


#bannerImg {
  background-color: silver;
  height: 12rem;
}

.avatar {

  border-radius: 50%;
  object-fit: cover;
}

#trendList:hover {
  background-color: rgb(242, 242, 242);
}

.msgPreview {
  text-wrap: break-word;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;

}


.outermost {
  height: 100%;
  display: flex;
  overflow-x: hidden;

}

.outer2 {
  flex: 1;

  align-items: stretch;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
}

.outer3 {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
}

.outer4 {
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  position: relative;
}

.headerContainer {
  align-items: flex-end;
  flex-grow: 1;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}

.sidebarContainerOuter {
  align-items: stretch;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;

}

.sidebarContainerInner {
  top: 0px;
  position: fixed;
  height: 100%;
  align-items: stretch;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;

}

.sidebar {
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  align-items: stretch;
  display: flex;
  flex-basis: auto;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;

}

.sidebarLeft {
  width: 100px;
}

.sidebarRight {
  width: 275px;
  padding-top: 50px;

}

.msgBar {
  width: 400px;
  max-width: 600px;
  padding-top: 70px;
  padding-bottom: 100px;
  flex-direction: column-reverse;
  overflow-x: hidden;
}

.msgList {
  padding-top: 70px;
  flex-shrink: 2;
  align-items: flex-start;
  flex-grow: 2;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  position: relative;

}

.topMenu {
  align-items: flex-start;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;

}

.mainContainer {
  flex-shrink: 1;
  align-items: flex-start;
  flex-grow: 2;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  position: relative;

}

.mainInner {
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
}

.msgRow {
  width: inherit;
  /* margin-left: auto; */
}

#msgViewContainer * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 2px;
}




.composeMsg {
  position: fixed;
  bottom: 0px;
  width: inherit;
  margin-left: auto;
}

.searchBar {
  position: fixed;
  top: 20px;
}

#msgViewHeader {
  position: fixed;
  top: 0px;
  width: inherit;
  margin-left: auto;
}

#msgListHeader {
  position: fixed;
  top: 10px;
  width: inherit;
  margin-left: auto;
  z-index: 1;
}
@media (max-width: 768px) {

  .sidebarLeft {
    width: 75px;
  }

  .msgList {
    min-width: 700px;
  }
}

@media (max-width: 1000px) {

  .headerContainer {
    flex-grow: 0;
  }
}

@media (min-width: 768px) {

  .mainInner {
    width: 600px;
  }

  .msgBar {
    width: 400px;
  }

  .msgList {
    width: 200px;
  }
}

@media (min-width: 1000px) {

  .mainInner {
    width: 900px;
  }

  .msgBar {
    width: 600px;
  }

  .msgList {
    width: 300px;
  }

}


@media (min-width: 1200px) {

  .sidebarLeft,
  .sidebarRight {
    width: 275px;
  }
  .msgBar {
    width: 600px;
  }

  .msgList {
    width: 300px;
  }

}

@media (min-width: 1400px) {

  .mainInner {
    width: 1200px;
  }

  .msgList {
    width: 500px;
  }
}