@page
@model TwitterClone.Pages.ForgotPassword

@{
    ViewData["Title"] = "Forgot password";
    Layout = "~/Pages/Shared/_LayoutFooterOnly.cshtml";
}
<div class="container">
    <div class="row my-5"></div>

    <div class="row">
        <div class="col-2 offset-5 text-center">
            <div class="fw-bold display-2">
                &#120144;
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11 col-lg-6 offset-lg-3 fs-5">
            <div class="row my-5"></div>

            <div class="col-8 offset-2">
                <div class="row my-5">
                    <div class="display-6">Input your email to reset password</div>
                </div>
                <div class="row my-3">
                    @if (!string.IsNullOrEmpty(TempData["ResetEmailSentMessage"]?.ToString()))
                    {
                        <div class="alert alert-success">
                            @TempData["ResetEmailSentMessage"]
                        </div>
                    }
                    <form method="post" class="">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="row my-4">
                            <div class="form-floating p-0 mb-2">
                                <input type="text" class="form-control" id="email" asp-for="Email"
                                    placeholder="Email">
                                <label for="email" asp-for="Email">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row my-4">
                            <input class="col btn btn-link rounded-pill fw-bold fs-5 bg-dark text-white py-2 mb-2"
                                type="submit" value="Reset Password">
                        </div>
                        <div class="row my-4">
                            <a href="/Login">Back to Log in</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
