@page
@model TwitterClone.Pages.HomeModel

@{
    ViewData["Title"] = "Home / Y";
    ViewData["ShowDescription"] = Model.ShowDescription;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-12 col-lg-8 ">
tweet feed here
</div>

 <div class="d-none d-lg-flex col-4 sidebarRightContainerOuter">
        <div class="sidebarRightContainerInner border-start ps-3">
            <div class="d-flex flex-column flex-shrink-0 bg-body-teritiary vh-100 justify-content-between sidebarRight">
                    <ul class="nav nav-pills nav-flush flex-column mb-auto mt-4">
            <li class="mb-3 searchBar">
                <partial name="_PartialSearch" />
            </li>
            <li class="mb-3">
                <div class="bg-light rounded p-2 px-3">
                    <p class="fs-5 mb-2 fw-bold">Subscribe to Premium</p>
                    <p class="fs-6 mb-2">Subscribe to unlock new features and, if eligible, receive a share of ads
                        revenue.
                    </p>
                    <button class="btn btn-dark btn-sm rounded rounded-pill fw-bold">Subscribe</button>
                </div>
            </li>
            <li class="mb-3">
                <div class="bg-light rounded p-2 px-3">
                    <p class="fs-5 mb-4 fw-bold">What's happening</p>
                    <ul class="nav flex-column">
                        @* @await Component.InvokeAsync("WhatsHappening") *@
                        <partial name="_PartialWhatsHappening"
                            model="@Model.ShowTrend.OrderBy(x => Guid.NewGuid()).Take(5).ToList()" />
                        <li class="mt-2">
                            <button type="button" class="btn btn-link fs-6 no-underline ps-0">Show
                                more</button>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-3">
                <div class="bg-light rounded p-2 px-3">
                    <p class="fs-5 mb-4 fw-bold">Who to follow</p>
                    <ul class="nav flex-column">
                        <partial name="_PartialFollowSuggestion"
                            model="@Model.FollowSuggestion.OrderBy(x => Guid.NewGuid()).Take(3).ToList()" />
                        <li class=" mt-2">
                            <button type="button" class="btnShowMoreFollow btn btn-link fs-6 no-underline ps-0">Show
                                more</button>
                        </li>
                    </ul>
                </div>
                @* @await Component.InvokeAsync("WhoToFollow") *@
            </li>
            <li class="mb-3 fs-6 p-2 text-center">
                &copy; 2023 - Y - ShiYuan Xu, Meredith White, Xiaoxing Pan, All rights reserved.
            </li>
        </ul>
    </div>
    </div>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btnShowMoreFollow').click(function () {
            window.location.href = '/FollowSuggestion';
        });
    });
</script>