@page
@model IndexModel
@{
    ViewData["Title"] = "Y";
    Layout = "~/Pages/Shared/_LayoutFooterOnly.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-3 col-lg-6">
            <div id="signupLogo" class="fw-bold">
                &#120144;
            </div>
        </div>
        <div class="col-11 col-lg-6">
            <div class="row my-5"></div>
            <div class="row">
                <div class="display-1">Happening now</div>
            </div>
            <div class="row my-5">
                <div class="display-6">Join today.</div>
            </div>
            <div class="col-8">
                <div class="row my-3">
                    <div class="row my-3">
                        <a class="col btn btn-link rounded-pill bg-brand-color text-white fw-bold fs-5 py-2" asp-page="/Signup">Create account</a>
                    </div>
                    <small>By signing up, you agree to the <a href="#" class="brand-color">Terms of Service</a> and <a
                            href="#" class="brand-color">Privacy Policy</a>, including <a href="#"
                            class="brand-color">Cookie Use</a>.</small>
                    <div class="row mt-5 mb-2">
                        <div class="fw-bold fs-5">Already have an account?</div>
                    </div>
                    <div class="row my-3">
                        <a class="col btn btn-link rounded-pill border-tertiary-gray fw-bold fs-5 brand-color py-2" asp-page="/Login">Sign in</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
