@page
@using Microsoft.AspNetCore.Identity
@using TwitterClone.Models
@using TwitterClone.Data

@{
    ViewData["Title"] = "Main Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="col-8"> 
    @* @await Component.InvokeAsync("WhoToFollowFullList") *@

</div>
<div class="col-4">
    <div class="d-flex flex-column flex-shrink-0 bg-body-teritiary">
        <ul class="nav nav-pills nav-flush flex-column mb-auto mt-4">
            <li class="mb-3">
                @await Html.PartialAsync("_PartialSearch", new
                         MidtermTodos.Pages._PartialSearchModel())
            </li>
            <li class="mb-3">
                <div class="bg-light rounded p-2 px-3">
                    <p class="fs-5 mb-2 fw-bold">Subscribe to Premium</p>
                    <p class="fs-6 mb-2">Subscribe to unlock new features and, if eligible, receive a share of ads
                        revenue.
                    </p>
                    <button class="btn btn-dark btn-sm rounded rounded-pill fw-bold">Subscribe</button>
                </div>
            </li>
            <li class="mb-3">
                <div class="bg-light rounded p-2 px-3">
                    <p class="fs-5 mb-4 fw-bold">What's happening</p>
                    <ul class="nav flex-column">
                        <li class="mb-2">
                            <a asp-page="#" class="text-dark text-decoration-none fs-6">
                                <strong>Hot tags</strong>
                            </a>
                            <p class="fs-6 mb-0 fw-lighter"><span class="fw-lighter">No.</span> Posts</p>
                        </li>
                        <li class="mt-2">
                            <button type="button" class="btn btn-link fs-6 no-underline ps-0">Show
                                more</button>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-3">
                @* <partial name="_PartialFollowSuggestion" model="Model" /> *@
                @await Component.InvokeAsync("WhoToFollow")
            </li>
            <li class="mb-3 fs-6 p-2 text-center">

                &copy; 2023 - Y - ShiYuan Xu, Meredith White, Xiaoxing Pan, All rights reserved.
            </li>
        </ul>
    </div>

</div>
