@page
@model TwitterClone.Pages.ResetPassword

@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Pages/Shared/_LayoutFooterOnly.cshtml";
}
<div class="container">
    <div class="row my-5"></div>

    <div class="row">
        <div class="col-2 offset-5 text-center">
            <div class="fw-bold display-2">
                &#120144;
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11 col-lg-6 offset-lg-3 fs-5">
            <div class="row my-5"></div>

            <div class="col-8 offset-2">
                <div class="row my-5">
                    <div class="display-6">Reset Password</div>
                </div>
                <div class="row my-3">
                    @if (!string.IsNullOrEmpty(TempData["ResetPasswordMessage"]?.ToString()))
                    {
                        <div class="alert alert-success">
                            @TempData["ResetPasswordMessage"]
                        </div>
                    }
                    <form method="post" class="">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="Email" class="form-control" id="Email" name="Email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Password">New Password:</label>
                            <input type="password" class="form-control" id="Password" name="Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label for="ConfirmPassword">Confirm New Password:</label>
                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="hidden" name="token" value="@Model.Token" />
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                        <div class="row my-4">
                            <a href="/Login">Back to Log in</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
