@page "{username}"
@model TwitterClone.Pages.UserModel
@{
    ViewData["Title"] = "Y"; //TODO username
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var user = Model.Profile;
}

@if (user != null)
{
    <div class="row">
    <div class="col-12 col-lg-11 col-xl-10 col-xxl-9">
    <div class="row mt-5 ps-4 position-relative">
        <div class="row mb-5" id="bannerImg"></div>
        <div class="row m-3"></div>
        <div class="row position-absolute bottom-0">
            <div class="col-4">
                <img src="@user.Avatar" alt="@user.UserName avatar" height="150px" width="150px"
                    class="rounded-circle border border-white border-5 avatar">
            </div>
        </div>
        @if (user.UserName == User.Identity.Name)
            {
                <div class="position-absolute bottom-0 end-0 text-end fs-6">
                    <a class="col btn btn-link rounded-pill border-tertiary-gray fw-bold text-dark p-2 px-4 me-3"
                asp-page="Settings/Profile">Edit profile</a>
                </div>
            }
        </div>

    <div class="row mt-5 px-4 ms-1">
        <div class="row fs-5 fw-bold mt-3">@user.NickName</div>
        <div class="row fs-6 text-secondary">&#64;@user.UserName</div>
        <div class="row fs-6 mt-3">@user.Description</div>
    </div>

        <div class="row mt-5 mx-1 fs-6">
            <ul class="nav nav-tabs justify-content-around text-dark">
                <li class="nav-item">
                    <a id="tabPosts" class="nav-link">Posts</a>
                </li>
                <li class="nav-item">
                    <a id="tabReplies" class="nav-link">Replies</a>
                </li>
                <li class="nav-item">
                    <a id="tabLikes" class="nav-link">Likes</a>
                </li>
            </ul>
        </div>

        <div class="col" id="listPosts">
            @await Component.InvokeAsync("UserTweets", user.UserName)

        </div>
        <div class="col" id="listReplies" style="display: none;">
            @await Component.InvokeAsync("UserReplies", user.UserName)

        </div>
        <div class="col" id="listLikes" style="display: none;">
            @await Component.InvokeAsync("UserLikes", user.UserName)

        </div>

    </div>
</div>

}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        $('#tabPosts').click(function () {
            $('#listPosts').show();
            $('#listReplies').hide();
            $('#listLikes').hide();
        });

        $('#tabReplies').click(function () {
            $('#listPosts').hide();
            $('#listReplies').show();
            $('#listLikes').hide();
        });

        $('#tabLikes').click(function () {
            $('#listPosts').hide();
            $('#listReplies').hide();
            $('#listLikes').show();
        });
    });

</script>
